#levelsPage{
    width: 615px;
    margin: auto;
    box-shadow: 0px 0px 10px 1px rgba(2, 26, 247, 0.247);
    padding: 7px;
}
/* heading on top */
#Heading{
    background-color: rgba(2, 26, 247, 0.6);
    color: rgb(255, 255, 255);
   text-align: center;
    padding: 7px;
}
#Heading2{
    background-color: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
   text-align: center;
    padding: 7px;
    border-bottom: rgba(2, 26, 247, 0.6);
}
.red,.blue,.chartreuse,.brown,.cyan{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    border: none;
   
}
.poped{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    border: none;
    background-color: #e7e7e7 !important;
}