#GamePage{
    
    width: 95%;
    margin: auto;
    box-shadow: 0px 0px 10px 1px rgba(2, 26, 247, 0.247);
    padding: 5px;
}
/* heading on top */
#Heading{
    background-color: rgba(2, 26, 247, 0.6);
    color: rgb(255, 255, 255);
    border-left: solid 12px rgba(0, 14, 140, 0.7);
    padding: 7px;
}
/* Top user button */
.btn-group{
    float: right;
}
.dropdown-toggle::after {
    border-top: .4em solid;
    border-right: .4em solid transparent;
    border-bottom: 0;
    border-left: .4em solid transparent;
    
}
.userbtn{
    background-color: transparent;
    border: none;
    color: white;
}
a{
    text-decoration: none !important;
}